[user]
    name = Sid Sarasvati
	email = sidsarasvati@gmail.com

[core]
    excludesfile = /Users/ssarasvati/.gitignore_global

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[merge]
  tool = ediff
[mergetool "ediff"]
  cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[push]
	default = current
	autoSetupRemote = true

[color]
    ui = auto

[alias]
    # InOut (commits we added and commits remote added)

    # Alternative, you can add git-inout.sh in you path and git
    # will pick it up  as 'git inout' with having to add an alias
    io = !sh ~/.git.d/git-inout.sh

    glog = log --graph --all --decorate --color
    stat = status
    st = status -uall --porcelain
    ci = commit
    co = checkout
    dif = diff
    difc = diff --cached
    amend = commit --amend

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
