[user]
	name = Sid Sarasvati
	email = sid@cogitocorp.com

[core]
	excludesfile = /Users/ssarasvati/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[push]
	default = matching

[color]
	ui = auto

[alias]
    # Divergence (commits we added and commits remote added)

    # Alternative, you can add git-divergence.sh in you path and git 
    # will pick it up
	div = !sh ~/.git.d/git-divergence.sh

    glog = log --graph --all --decorate --color
    stat = status
    st = status -uall --porcelain
    ci = commit
    co = checkout
    dif = diff
    difc = diff --cached
    amend = commit --amend

