############# General ############

#FILES
*~
*#
_*

*.log
*.ini
*.last

.profile
.inputrc
.recentf
.lesshst
.gitconfig
.bash_history
.history
.hgrc
.hgignore

#DIRECTORIES
.semanticdb/
.ssh/
src/

########## PLATFORM SPECIFICS ############

#OSX 
.DS_Store*
.cups/
.Trash/
.subversion/
.hgrc
.CFUserTextEncoding
Desktop/
Documents/
Downloads/
Applications/
Library/
Movies/
Music/
Pictures/
Public/

#WINDOWS


############# SPECIFICS #############

.dia/
