**/auto-save-list/
zsh/.zsh_sessions/
zsh/local.zsh

# Emacs temporary files
*~
\#*\#
.\#*
.emacs.desktop
.emacs.desktop.lock
emacs/config.el

# Emacs package metadata
emacs/.emacs.d/elpa/archives/*/archive-contents
